* {
  margin: 0px;
  padding: 0px;
  /* outline: 1px dotted pink; */
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 16px;
}

.clrfix:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
}

/*
input::-ms-clear {
  display: none;
} */